.prod {
    display: grid;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 1em;
    gap: 1rem;

.img-coursel {
    position: relative;

    button.next,
    button.prev {
        position: absolute;
        top: 0;
        bottom: 0;
        height: fit-content;
        margin-block: auto;
    }

    button.next {
        right: 0;
    }

    button.prev {
        left: 0;
    }

    .images {
        display: flex;
        justify-content: center;
    }

    .images img {
        display: none;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
        aspect-ratio: 1/1;
        object-fit: cover;
        box-shadow: 1px 1px 3px 1px var(--border-color);
    }

    .images img.active {
        display: block;
    }

}

.info {
    display: flex;
    flex-direction: column;
    gap:1rem;

    .categories {
        display: flex;
    }

    .title {
        font-size: clamp(16px, 6vw, 2rem);
    }

    .short-desc {
        margin-inline-start: 1rem;
        font-size: 1.2rem;
        font-family: monospace;
    }

    .short-desc ul>li:not(:last-child) {
        margin-bottom: .2em;
    }

    .price {
        font-size: clamp(16px, 4vw, 1.5rem);
        display: flex;
        gap: 1em;
        padding-inline: 1rem;
    }

    .sale-price {
        color: oklch(50.8% 0.118 165.612);
    }
}
}

.reviews{
    background-color: white;
    padding:1em 1rem;
    border:1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 2rem;

    .review{
        display:flex;
        gap:1rem;
        border:inherit;
        background-color: #80808008;
        border-radius: inherit;
        padding:1rem;
    }

    .review .rev{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    .review .info{
        display: flex;
        gap:1rem;
    }

    .review .review-text{
        padding-inline-start: 10px;
        font-size: 1.2rem;
    }

}


@media(min-width:768px) {
    .prod {
        grid-template-columns: 1fr 1fr;
    }
}