
.products{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;

    .prod-item{
        background-color: white;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding:1em;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap:1rem;

        
        .feature-img{
            border-radius: inherit;
            max-width: 100%;
            overflow: hidden;
            box-shadow: 1px 1px 3px 3px var(--border-color);
        }

        .feature-img img{
            border-radius: inherit;
            max-width: 100%;
        }

        .categories{
            display: flex;
            gap:1rem;
            flex-wrap: wrap;
        }

        .price{
            font-size:1.2rem;
            display: flex;
            gap:1em;
            padding-inline:1rem;
        }

        .sale-price{
            color:oklch(50.8% 0.118 165.612);
        }

        .add-to-cart{
            width:100%
        }
    }
}